# Automatically maintained by CTX. DO NOT TOUCH!!!
authCommunity log {{ ansible_local.CTX.snmp_community }}
authCommunity log public
authCommunity log private
authCommunity log alienvault
disableAuthorization no
#disableAuthorization yes

format1 %.4y-%.2m-%.2l %.2h:%.2j:%.2k %b:\tv1Uptime = %#T\t%N\t%W Trap (%q)\t%v\n
format2 %.4y-%.2m-%.2l %.2h:%.2j:%.2k %b:\t%v\n