<style>
table.ResultTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.ResultTable td, table.ResultTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.ResultTable tbody td {
  font-size: 13px;
}
table.ResultTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.ResultTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.ResultTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table.ResultTable thead th:first-child {
  border-left: none;
}

table.ResultTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.ResultTable tfoot td {
  font-size: 14px;
}
table.ResultTable tfoot .links {
  text-align: right;
}
table.ResultTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

h1 {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 30px;
letter-spacing: 0.2px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: capitalize;
text-align: center;
}

#sub-toc {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
letter-spacing: 0.1px;
word-spacing: 0px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
text-indent: 30px;
}

#toc-heading {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
letter-spacing: 0.1px;
word-spacing: 0px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

table.VulnerabilitySummary {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table.VulnerabilitySummary th {
  padding: 10px 5px;
  width: 100px;
  text-align: right;
}


.sub-toc-table {
        display: table;
        width: 100%;
/*        border: 1px solid #666666; */
}

.sub-toc-row {
        display: table-row;
}

.sub-toc-cell {
        display: table-cell;
/*        border: 1px solid #666666; */
}

/*
table.VulnerabilitySummary td:nth-child(2) {
  text-align: left;
}
*/



/* Vulnerability Table Style */
div.VulnDetailTable {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
}
.divTable.VulnDetailTable .divTableCell, .divTable.VulnDetailTable .divTableHead {
  border: 10px solid #FFFFFF;
  padding: 4px 8px;
}
.divTable.VulnDetailTable .divTableBody .divTableCell {
  font-size: 13px;
}
.divTable.VulnDetailTable .divTableRow:nth-child(even) {
  background: #D0E4F5;
}
.divTable.VulnDetailTable .divTableHeading {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
.divTable.VulnDetailTable .divTableHeading .divTableHead {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
.divTable.VulnDetailTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.VulnDetailTable .tableFootStyle {
  font-size: 14px;
}
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

hr {
        border-top: 3px double #8c8b8b;
}

</style>